<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="com.example.lab1.mybatis.model.Author" alias="Author"/>
        <typeAlias type="com.example.lab1.mybatis.model.Book" alias="Book"/>
        <typeAlias type="com.example.lab1.mybatis.model.Genre" alias="Genre"/>
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="MANAGED"/>
            <dataSource type="JNDI">
                <property name="data_source" value="Lab1DataSource"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="mybatis.xml/AuthorMapper.xml"/>
        <mapper resource="mybatis.xml/BookMapper.xml"/>
        <mapper resource="mybatis.xml/GenreMapper.xml"/>
    </mappers>
</configuration>
